<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard. Here are the other users on the Favorite Food App</p>
<div class="row">
  <div *ngFor="let user of users" class="col-md-4">

    <div >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.firstName + " " + user.lastName}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: {{ user.age }}</li>
            <li class="list-group-item">Favorite Food: {{ user.favoriteFood }}</li>
          </ul>
          <a [routerLink]="['/profile', user._id]" class="btn btn-primary view-profile">View Profile</a>
        </div>
      </div>
    </div>

  </div>
</div>
