<div *ngIf="user">
  <h2 class="page-header">{{user.firstName + " " + user.lastName}}</h2>
  <a *ngIf="userId === currentUserId" class="" [routerLink]="['/update']">Edit Profile</a>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Favorite Food: {{user.favoriteFood}}</li>
    <li class="list-group-item">Age: {{user.age}}</li>
  </ul>
  <button *ngIf="userId === currentUserId" type="button" class="btn btn-danger" (click)="deleteUser(user._id)" name="button">Delete</button>
</div>
